<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsnvAGikfaV4ml71Y371wRDpql2V4yqBw</string>
	<key>GCM_SENDER_ID</key>
	<string>832059501486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidgomez.Liftr</string>
	<key>PROJECT_ID</key>
	<string>settleit-569dd</string>
	<key>STORAGE_BUCKET</key>
	<string>settleit-569dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832059501486:ios:347accc583d2e1b069363f</string>
	<key>DATABASE_URL</key>
	<string>https://settleit-569dd-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>